<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>  
<main>
    <div>
        <div class="son">
        <a  href="/todos/new"><button>Add a New Activity</button></a>
        <a href="/user/logout"><button>Logout</button></a>
        </div>
        <div class="index">
            <table>
                <tr>
                    <th>ACTIVITY</th>
                    <th>COMPLETED?</th>
                </tr>
                <% for (todo of todos){
                    if(todo.completed === false) {%>
                <tr class= "red">
                    
                    <td>
                        <a href="/todos/<%= todo._id %>"><%= todo.name%></a>
                    </td>
                    <td>
                        <a href="/todos/<%= todo._id %>"><%= todo.completed%></a>
                    </td>
                    
                </tr>
                <%} else {%>
                    <tr class= "green">
                    
                        <td>
                            <a href="/todos/<%= todo._id %>"><%= todo.name%></a>
                        </td>
                        <td>
                            <a href="/todos/<%= todo._id %>"><%= todo.completed%></a>
                        </td>
                        
                    </tr>

                <%}%>
                <%}%>
            </table>
        </div>

       

    </div>
</main>

</body>
</html>