<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs")%>
<body>
    <%- include("../partials/header.ejs")%>  
<main>
    <div class="container">
        <article>
            <fieldset class="show">
                <legend>ACTIVITY DETAILS</legend>
                <label class="label">NAME:</label>   
                <label class="detail"><%=todo.name%></label>         
                <label class="label">CATEGORY:</label>            
                <label class="detail"><%=todo.category%></label> 
                <label class="label">DATE TO START:</label>            
                <label class="detail"><%=todo.date_to_do%></label>
                <label class="label">DUE DATE:</label>            
                <label class="detail"><%=todo.due_date%></label>
                <label class="label">COMMENTS:</label>            
                <textarea readonly class="detail"  name="comment" 
                rows="4" 
                cols="50">
                <%=todo.comment%></textarea>
                <label class="label">COMPLETED:</label>            
                <label class="detail"><%=todo.completed%></label>
       
            </fieldset>
            <div class="varios">
            <a class="edit" href="/todos/<%=todo._id%>/edit"><button>Edit</button></a>
            <form   action="/todos/<%=todo._id%>?_method=DELETE" method="post">
            <input  class="delete" type="submit" value="Delete" />
            </form>
            </div>
        </article>
       
    </div>
</main>

</body>
</html>